{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "React": true,
    "ReactDOM": true
  },
  "rules": {
    "semi"                        : [2, "never"],
    "comma-dangle"                : [2, "always-multiline"],
    "space-before-function-paren" : [2, "never"],
    "react/jsx-boolean-value"     : [2, "always"],
    "react-in-jsx-scope"          : 0
  }
}
