input[type=submit] {
  font-family: FontAwesome
}

.user-list {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  border-right: 1px solid rgba( 0, 0, 0, 0.1 );
  overflow: scroll;

  &-name {
    color: #000;
  }

  &__item {
    padding: 14px 10px 14px 15px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    cursor: pointer;

    &--active {
      background: rgba(0, 0, 0, .05);
      color: #fff;
      position: relative;
      border-top: 1px solid rgba( 0, 0, 0, 0.1 );
      margin-top: -1px;

      .remove-chat-btn {
        background: rgba(0, 0, 0, .01);
      }
    }

    &__picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img {
        width: inherit;
      }
    }

    &__name {
      margin: 3px 0 0 0;
      font-size: 16px;
      font-weight: inherit;
    }

    &__message {
      width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      float: left;
      display: block;
    }

    &__timestamp {
      font-size: 11px;
      font-weight: inherit;
      float: right;
      margin-top: 5px;
    }

    &__details {
      width: 220px;
      float: left;
      padding-left: 15px;
    }

    &__delete {
      padding: 2px 9px !important;
      margin-top: 8px !important;
    }
  }
}

.remove-chat-btn {
  color: #d9534f;
  float: right;
  margin-top: -10px;
  background: #fff;
  border: 0;
}

.new-message-icon {
  color: #218cb9;
  margin-right: 5px;
}