.sign_up_wrapper, .login_wrapper {
  padding-top: 70px;
}

.form_wrapper {
  float: left;
  width: 320px;
  margin-left: 130px;
}
.new_user_title, .login_title {
  text-align: center;
  padding-bottom: 25px;
}

.new_user_btn, .login_btn {
  width: 100%;
}